body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-light {
    font-size: 100%;
    width: 20%;
    transition: .5s;
    font-family: Georgia, serif;
    border: 2px solid black;
}

.btn-Danger {
    background-color: #e52d27;
    margin: 10px;
    padding: 15px 45px;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.fw {
    font-weight: bold;
}

.navbar-brand {
    line-height: 0.8;
    font-weight: bold;
}

.navbar-brand img {
    width: 165px;
    max-height: 50px;
}

.carousel-item {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.carousel-item img,
.carousel-item video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    bottom: 30%;
    padding: 30px;
    max-width: 80%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}


.carousel-inner {
    height: 100%;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.indexpara {
    font-size: 25px;
}

.nav-link {
    width: max-content;
    font-size: 20px;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item {
    color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}


/* Career-start*/

.image-container {
    position: relative;
    width: 100%;
    text-align: center;
}

.conpara{
    text-align: center;
    color:#0098da;
    font-size: 1.25rem;
}
.career-title {
    font-size: 64px;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    border-radius: 55px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
}

.image-content {
    margin-top: 8%;
}

.img1,
.img2 {
    position: relative;
    width: 100%;
    text-align: center;
}

.imgtxt-overlay h3{
    font-size: 32px;
}

.imgtxt-overlay p{
    font-size: 20px;
}

.imgtxt-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    border-radius: 55px;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.custom-container {
    margin-left: 30px;
    margin-right: 30px;
}

.reveal p{
    font-size: 20px;
}
.reveal h2{
    font-size: 2.5rem;
}
.reveal ol li{
    font-size: 20px;
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    transition-delay: 0s;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}


.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #026994;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none; 
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scroll-to-top:hover {
    background-color: #004d73; 
}

/* Career-end */

/* footer-start */
.footer {
    background-color: #006D8F;
    color: white;
    padding: 60px 0;
}

.footer h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer h3 {
    font-size: 18px;
    padding-bottom: 10px;
}
.footer ul {
    list-style-type: none;
    padding-left: 0;
}
.footer ul li {
    margin-bottom: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
		color: #0D6EFD;
}
.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    color: #006D8F;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 4%;
    transition: background-color 0.3s;
}
.social-icons a:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.white-line {
    width: 15%; 
    height: 2px; 
    background-color: white;  
    margin-bottom: 30px;
}

/*footer-end*/


@media (max-width: 970px) {
    .navbar {
        background-color: #026994;
        padding: 10px;
    }

    .dropdown-menu {
        background-color: #026994;
    }

    .carousel-caption {
        padding: 15px;
        bottom: 40%;
    }

    .carousel-caption h1 {
        font-size: 1.2rem;
    }

    .btn-light {
        width: 70%;

    }

    .indexpara {
        font-size: 1rem;
    }
    .conpara{
        text-align: start;
    }
}


@media (max-width: 768px) {
    .carousel-caption h1 {
        font-size: 1.3rem;
    }

    .carousel-caption {
        padding: 15px;
        bottom: 40%;
    }

    .indexpara {
        font-size: 0.7rem;
    }

    .career-title {
        font-size: 35px;
    }
    .reveal p{
        font-size: 1rem;
    }
    .reveal h2{
        font-size: 1.5rem;
    }
    .reveal ol li{
        font-size: 16px;
    }

    .footer {
        padding: 60px 20px;
    }
}